<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div style="text-align: center;">
    <h2>New Order Received</h2>
    <h3 style="color:red">Order received from {{name}}</h3>
    {% for item in menu_item %}
        <div class="row">
            <div class="col-6">
                {{item.item}}
            </div>
            <div class="col-6">
                {{item.price}}
            </div>
        </div>
    {% endfor %}
    <hr>
    <p>Total bill to be paid {{total_price}}</p>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>