<style>
  .navbar {
  min-height: 80px;
  }

  .navbar-brand {
    color: black;
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }
  .navbar-brand:hover{
    font-size: 2.1rem;
    color: black;
  }

  @media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
   }
  }

  a {
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
  }

  .nav-link:hover{
        font-size: 1.3rem;
        color: black;
  }
  .hidden{
    visibility: hidden;
  }
  .btn{
    border-radius: 30px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-transparent">
  <a class="navbar-brand" href="{% url 'index' %}">JU EATS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
    </ul>
    <ul class="navbar-nav">
      <a class="btn btn-dark" href="{% url 'index' %}" >Back To Main Menu </a>
    </ul>
  </div>
</nav>